.testimonial_container{
    width: 800px;
}

.testimonial_card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.testimonial_img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.testimonial_name{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-top: var(--mb-2-5);
   
}
.testimonial_name::before{
    content: '';
    width: 80px;
    height: 2px;
    background-color: bisque;
    position: absolute;
    bottom: 3rem;
   
}

.testimonial_description{
    font-size: var(--smaller-font-size);
    text-align: justify;
}

.testimonial_icon{
    font-size: 2rem;
    color:bisque;
}

.swiper-pagination-bullet{
    background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--title-color) !important;
}


/*===================== BREAKPOINTS ============================*/

/* For Large Devices */
@media screen and (max-width: 992px) {
   .testimonial_container{
    width: initial;
   }

   .testimonial_card{
    padding: 1.25rem 1.5rem;
   }
    
  }
  

