
.work_section-content{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    column-gap: 5rem;
    margin-bottom: var(--mb-3);
}

.work_section_img{
    border-radius: 1.25rem;
    border: 1px solid var(--container-color);
    overflow: hidden;
    height: 400px;
    width: 100%;
    cursor: scroll;
    transition: ease-in-out 8s;
    
}
.work_section_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: ease-in-out 8s;
    
}
.work_section_img img:hover{
    cursor: pointer;
    object-position: bottom;
    
}

.work_section-content{
    justify-content: center;
}

.work_section-title{
    font-size: var(--h3-font-size);
    text-align: center;
}

.work_section-description{
    font-size: var(--smaller-font-size);
    text-align: center;
}
.work_section-framworks{
   display: flex;
    text-align: center;
    justify-content: center;
}
.work_section-framworks li, .work_section-links li{
   font-size: var(--small-font-size);
   font-weight: var(--font-semi-bold);
   cursor: pointer;
}

.work_section-links{
    display: flex;
    justify-content: center;
}
.work_section-links li{
    display: flex;
    align-items: center;
    gap: 10px;

}

.work_section-view {
   display: flex;
   justify-content: center;
}

.work_section-view a {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  display: flex;
  align-items: center;
  border: 1px solid rgba(0,0,0, 0.1);
  background-color: var(--container-color);
  padding: .5rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1rem;
}


/*===================== BREAKPOINTS ============================*/

/* For Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
    .work_section{
        padding: 0 2.5rem;
        
    }
    .work_section-content{
        column-gap: 3rem;
        
    }
    
    
  }
@media screen and (max-width: 992px) {
    .work_section-content{
        column-gap: 1.5rem;
    }

    
  }
  
  /* For Medium Devices */
  @media screen and (max-width: 768px) {
    .work_section-content{
        column-gap: 1.5rem;
    }
    
  }
@media screen and (max-width: 576px) {
    .work_section-content{
        grid-template-columns: repeat(1,1fr);          
    }
    .work_section>div:nth-child(2){
     display: flex;
     flex-direction: column-reverse;
    }
    
}
  
  
  /* For small Devices */
@media screen and (max-width: 350px) {
    .work_section_img{
    
        height: 200px;
       
        
    }
    .work_section{
        padding: 0 ;
        
    }
}